site_name: "Documentation for Pywssocks"
site_url: https://pywssocks.zetx.tech
repo_url: https://github.com/linksocks/pywssocks
repo_name: linksocks/pywssocks
copyright: Copyright &copy; 2025 Zetx Tech

nav:
  - Home: index.md
  - Principles: principles.md
  - Tutorial:
      - Command-line Usage: tutorial/cli.md
      - Python Library Usage: tutorial/lib.md
      - Docker Usage: tutorial/docker.md
      - Example Architecture: tutorial/example.md
  - API Reference:
    - pywssocks:
      - pywssocks.server: api/server.md
      - pywssocks.client: api/client.md
      - pywssocks.relay: api/relay.md
      - pywssocks.common: api/common.md

theme:
  name: material
  icon:
    logo: simple/linkfire
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.path
    - navigation.expand
    - navigation.indexes
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            summary: true
            docstring_style: google
            show_source: true
            show_submodules: true
            show_root_heading: false
            show_root_toc_entry: false
            show_category_heading: false
            show_symbol_type_toc: true
            relative_crossrefs: true
            members_order: source


markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true

extra:
  social:
    - icon: simple/github
      link: https://github.com/linksocks/pywssocks
      name: Project Github Page
  version:
    provider: mike